<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

<header>
  <% include ../partials/header %>
</header>
<main>
  <div class='container-fluid pt-5 mt-5'>
      <div class='row'>
        <div class='col-8'>
          <h1 style='color: #2f8d6e; text-align: center'>Our featured products</h1>
        </div>
        <!-- Example single danger button -->
        <div class='col-4'>
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= currentSelect || "All product" %>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/products">All products</a>
              <% for (let i = 0; i < categories.length; i++) { %>
                <a class="dropdown-item" href="/products/categories/<%=categories[i].id%>"><%= categories[i].name %></a>
              <%} %>

            </div>
          </div>
        </div>
      </div>
      <% if (products.length>0) { %>
        <% for (let i = 0; i < products.length; i++) {%>
        <div class="row m-5">
          <% for (let j = 0; j < products[i].length; j++) { %>
          <div class='col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center p-3'>
              <a href='/products/product-detail/<%=products[i][j].id%>' style='text-decoration: none; color: black'>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="<%=products[i][j].imgUrl%>" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"><%=products[i][j].name%></h5>
                    <p class="card-text"><%=products[i][j].description%></p>
                    <p class="card-text"><%=products[i][j].price%></p>
                    <a href="/add-to-cart/<%=products[i][j].id%>" class="btn btn-success">Add to cart</a>
                  </div>
                </div>    
              </a>
            </div>
          <% } %>
        </div>
        <% } %>
      
      <%} else { %>
        <h1 class='text-center m-5 p-5'>Not found products</h1>
      <% } %>
    </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>

</body>
</html>