<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

<header>
  <% include ../partials/header %>
</header>
<main class="main">
  <!--add your code here-->
  <div class='container'>
  <%if (products&&products.length>0) { %>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset3">
        <ul class="list-group">
          <%for (let product of products) { %>  
          <li class="list-group-item d-flex justify-content-start align-items-center">
              <strong class='px-2'><%=product.item.name%></strong>
              <span class='badge badge-success'><%=product.item.price%></span>
              <a class='btn btn-info  ml-auto mr-2' href="/add-to-cart/<%=product.item._id%>" >+</a>
              <h6 class='badge badge-success p-2 mr-2'><%=product.quantity%></h6>
              <a class='btn btn-info mr-2' href="/reduce-cart/<%=product.item._id%>">-</a>
              <a class='btn btn-info' href="/remove-from-cart/<%=product.item._id%>">x</a>
          </li>
          <% } %>
        </ul>
      </div>
      
    
    </div>
    
    <div class="row">
      <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset3">
        <strong>Total: <%=totalPrice %></strong>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset3">
        <a class='btn btn-success' id='checkout-link' href='/checkout'>Checkout</a>
      </div>
    </div>
    <% } else { %> 
    <div class="row">
      <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset3">
        <h2>No items in cart</h2>
      </div>
    </div>
    <% } %>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
<script>
  $(document).ready(function(){
    let user = '<%-JSON.stringify(user)%>';
    $('#checkout-link').click((event)=> {
      if (!user) {
        event.preventDefault();
        toastr.warning("You must log in before checkout", "Warning")
      }
    })
  })
  
</script>
</body>
</html>
